<ion-view title="Home" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading2" style="color:#000000;text-align:center;">Enabled</h1>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Get started:</p>

      <ul>
        <li>Press the location tab to choose or enter your location</li>
        <li>Find your building</li>
        <li>Check or write a review</li>
      </ul>
    </div>
    <div id="home-button-bar1" class="button-bar"></div>
    <a ui-sref="tabsController.reviews" id="home-button11" class="button button-positive  button-block">View reviews</a>
    <a ui-sref="tabsController.writeAReview" id="home-button13" class="button button-positive  button-block">Write a review</a>
    <a ui-sref="tabsController.findYourLocation" id="home-button14" class="button button-positive  button-block">Find your location</a>
  </ion-content>
</ion-view>