<ion-view title="Rating" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="rating-form3" class="list">
      <ion-item class="range range-positive" id="rating-range1">Overall rating
        <input type="range" value="50" min="0" max="10" step="1" name="Overall">
      </ion-item>
      <ion-checkbox id="rating-checkbox1">Wheelchair accessibility?</ion-checkbox>
      <ion-checkbox id="rating-checkbox2">Working elevators?</ion-checkbox>
      <ion-checkbox id="rating-checkbox3">Accessible bathrooms?</ion-checkbox>
      <ion-checkbox id="rating-checkbox4">Braille?</ion-checkbox>
    </form>
    <a ui-sref="tabsController.comments" id="rating-button3" class="button button-positive  button-block">Next</a>
  </ion-content>
</ion-view>