<ion-view title="Reviews" id="page4">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.writeAReview" id="reviews-button1" class="button button-positive  button-block">Write a review</a>
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="reviews-list1">
      <ion-item id="reviews-list-item5">Review1</ion-item>
      <ion-item id="reviews-list-item6">Review2</ion-item>
      <ion-item id="reviews-list-item7">Review3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>