<ion-view title="Write a review" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="writeAReview-form2" class="list">
      <label class="item item-input" id="writeAReview-input3">
        <span class="input-label">Date:</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="writeAReview-input4">
        <span class="input-label">Building name:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="writeAReview-input5">
        <span class="input-label">Address:</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.rating" id="writeAReview-button2" class="button button-positive  button-block">Next</a>
  </ion-content>
</ion-view>